body,
html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
}

/* style the main container */ 
#container {
	display: grid;
	height: calc(100% - 60px);
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

/* styles for the inner-container */
#inner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1 {
	margin-bottom: 50px;
}

#side-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

select {
	height: 50px;
	text-align: center;
	background : linear-gradient(to left, #ffffff, #737373);
	text-transform: capitalize;
	font-weight: bolder;
	font-size: 1.3rem;
}

footer {
	background : linear-gradient(to bottom, #c19f9f, #b5e5ee);
	font-weight: bolder;
	text-align: center;
	height: 40px;
	padding-top: 20px;
	font-size: 1.2rem;
}

a {
	margin-left: 10px;
}

a:active {
	color: black;
}